<h1>Check out all these fabulous Queens!</h1>

<div>
    <%@queens.each do |queen|%>
      <div class="gallery">
      <%= link_to queen.drag_name, queen%>
      <%= image_tag(queen.img_url)%>
    <% end%>
    </div>
</div>
